openapi: 3.1.0
info:
  title: HellOOpass Platform API
  description: |
    # 🔥 HellOOpass Enterprise API v1.0

    ## 📋 Overview
    **HellOOpass** is a comprehensive digital payment and merchant management platform supporting financial inclusion across Africa. This API provides programmatic access to merchant management, customer operations, invoice processing, and WFP (World Food Programme) integration capabilities.

    ### ✨ Key Features
    - **Merchant & Customer Management** - Full lifecycle management of merchants and customers
    - **Payment Processing** - Invoice creation, BNPL (Buy Now Pay Later), and repayment tracking
    - **WFP Integration** - Specialized endpoints for World Food Programme operations
    - **Real-time Reporting** - Comprehensive financial and operational analytics
    - **Multi-country Support** - Ethiopia (ET), Kenya (KE), Senegal (SN), Guinea-Bissau (GW)

    ### 🚀 Quick Start
    1. **Get Authentication Token**
    ```bash
    curl -X POST https://api.helloomarket.com/v1/auth/login \
      -H "Content-Type: application/json" \
      -d '{"username":"your_username","password":"your_password"}'
    ```

    2. **Make Your First API Call**
    ```bash
    curl -X GET https://api.helloomarket.com/v1/merchants \
      -H "Authorization: Bearer YOUR_TOKEN" \
      -H "X-API-Key: YOUR_API_KEY"
    ```

    ---
    *Documentation last updated: 2024-01-22*

  version: 1.0.11
  termsOfService: https://helloomarket.com/legal/api-terms
  contact:
    name: HellOOpass API Team
    email: api@helloomarket.com
    url: https://helloomarket.com/support/api
  license:
    name: HellOOpass Proprietary License
    url: https://helloomarket.com/legal/license

servers:
  - url: https://api.helloomarket.com/v1
    description: Production Environment
  - url: https://staging-api.helloomarket.com/v1
    description: Staging Environment
  - url: http://localhost:4000
    description: Local Development

tags:
  - name: Authentication
    description: User authentication and token management
  - name: Merchants
    description: Merchant account management and operations
  - name: Customers
    description: Customer management and transactions
  - name: Invoices
    description: Invoice creation, retrieval, and management
  - name: Payments
    description: Payment processing and history
  - name: Suppliers
    description: Supplier registration and product management
  - name: Projects
    description: Project configuration and management
  - name: WFP Operations
    description: World Food Programme specific operations
  - name: Reports
    description: Financial and operational reporting
  - name: Wallets
    description: Wallet operations and transaction history

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from /login endpoint

  parameters:
    PaginationLimit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 50
        example: 50
      description: Number of items to return per page

    PaginationPage:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1
        example: 1
      description: Page number for pagination

    CountryCode:
      name: countryCode
      in: query
      required: false
      schema:
        type: string
        enum: [ET, KE, SN, GW]
        default: ET
        example: ET
      description: ISO 3166-1 alpha-2 country code

    MobileNumber:
      name: mobile
      in: query
      required: false
      schema:
        type: string
        pattern: '^\+[1-9]\d{1,14}$'
        example: "+251912345678"
      description: Mobile number in E.164 format

    DateRangeStart:
      name: start
      in: query
      required: false
      schema:
        type: string
        format: date
        example: "2024-01-01"
      description: Start date for filtering

    DateRangeEnd:
      name: end
      in: query
      required: false
      schema:
        type: string
        format: date
        example: "2024-12-31"
      description: End date for filtering

    ActiveStatus:
      name: active
      in: query
      required: false
      schema:
        type: string
        enum: ["0", "1"]
        default: "1"
        example: "1"
      description: Filter by active status

  responses:
    BadRequest400:
      description: Bad request - Invalid parameters
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: boolean
                example: true
              message:
                type: string
                example: "Invalid or missing parameters"

    Unauthorized401:
      description: Unauthorized - Invalid authentication
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: boolean
                example: true
              message:
                type: string
                example: "Authentication required or invalid token"

    InternalServerError500:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: boolean
                example: true
              message:
                type: string
                example: "An internal server error occurred"

paths:
  # ========================
  # 🔐 AUTHENTICATION
  # ========================
  /login:
    post:
      tags: [Authentication]
      summary: User Authentication
      description: Authenticate user and obtain JWT token for API access
      operationId: authenticateUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username:
                  type: string
                  example: "admin@helloomarket.com"
                password:
                  type: string
                  format: password
                  example: "SecurePass123!"
      responses:
        "200":
          description: Authentication successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  token:
                    type: string
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  message:
                    type: string
                    example: "Authentication successful"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"
      security: []

  # ========================
  # 🏪 MERCHANTS
  # ========================
  /dube/international/getmerchantlist.php:
    get:
      tags: [Merchants]
      summary: Get Merchant List
      description: Retrieves a paginated list of merchants with filtering capabilities
      operationId: getMerchantList
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/PaginationLimit"
        - name: Page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            example: 1
        - name: userId
          in: query
          description: Unique 6-digit user identifier
          required: false
          schema:
            type: integer
            example: 123456
        - $ref: "#/components/parameters/MobileNumber"
        - name: project
          in: query
          description: Project name filter
          required: false
          schema:
            type: string
            example: "Palladium"
        - $ref: "#/components/parameters/CountryCode"
        - $ref: "#/components/parameters/ActiveStatus"
      responses:
        "200":
          description: Merchant list retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  totalCount:
                    type: string
                    example: "2792"
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        userid:
                          type: string
                          example: "123456"
                        fullname:
                          type: string
                          example: "Hello Shop"
                        businessName:
                          type: string
                          example: "Hello Shop"
                        mobile:
                          type: string
                          example: "251912345678"
                        createdon:
                          type: string
                          example: "2024-11-12 07:08:55"
                        project:
                          type: string
                          example: "Palladium"
                        initialdeposit:
                          type: string
                          example: "0.00"
                        bnpl:
                          type: string
                          example: "0.00"
                        active:
                          type: string
                          example: "1"
                        lastTrxnDate:
                          type: string
                          example: "2024-11-15 14:46:27"
                        language:
                          type: string
                          example: "en"
                        wallets:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                example: "1234567890"
                              wallettype:
                                type: string
                                example: "MERCHANT_AVAILABLE"
                              balance:
                                type: string
                                example: "2000000"
                              bnpl:
                                type: string
                                example: "2000000"
                        foodCategory:
                          type: string
                          example: "desert"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /dube/international/getcustomerlist.php:
    get:
      tags: [Customers]
      summary: Get Customer List
      description: Retrieves a paginated list of customers
      operationId: getCustomerList
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/PaginationLimit"
        - name: Page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            example: 1
        - $ref: "#/components/parameters/MobileNumber"
        - $ref: "#/components/parameters/CountryCode"
      responses:
        "200":
          description: Customer list retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  totalCount:
                    type: string
                    example: "2792"
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        userid:
                          type: string
                          example: "123456"
                        fullname:
                          type: string
                          example: "hello shop"
                        mobile:
                          type: string
                          example: "25112345678"
                        creditwallet:
                          type: string
                          example: "1234567890"
                        purchasewallet:
                          type: string
                          example: "1234567890"
                        purchasebalance:
                          type: string
                          example: "0.00"
                        createdon:
                          type: string
                          example: "2024-11-12 07:08:55"
                        createdby:
                          type: string
                          example: "233900000002"
                        merchantName:
                          type: string
                          example: "hello shop"
                        merchantUserId:
                          type: string
                          example: "123456"
                        active:
                          type: string
                          example: "1"
                        bnpl:
                          type: string
                          example: "0.00"
                        otheCreditLines:
                          type: array
                          items: {}
                          example: []
                        gifts:
                          type: array
                          items: {}
                          example: []
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  # ========================
  # 📄 INVOICES & PAYMENTS
  # ========================
  /dube/international/getallinvoices.php:
    get:
      tags: [Invoices]
      summary: Get All Invoices
      description: Retrieves a paginated list of all invoices with filtering
      operationId: getAllInvoices
      security:
        - bearerAuth: []
      parameters:
        - name: wallet
          in: query
          description: Wallet identifier filter
          required: false
          schema:
            type: string
            example: "1234567890"
        - $ref: "#/components/parameters/DateRangeStart"
        - $ref: "#/components/parameters/DateRangeEnd"
        - $ref: "#/components/parameters/PaginationLimit"
        - name: offset
          in: query
          description: Pagination offset
          required: false
          schema:
            type: integer
            example: 0
      responses:
        "200":
          description: Invoices retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  totalCount:
                    type: string
                    example: "270792"
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        transactionId:
                          type: string
                          example: "WFPWP1234567890123"
                        merchantName:
                          type: string
                          example: "Hello Shop"
                        merchantUserId:
                          type: string
                          example: "123456"
                        merchantMobile:
                          type: string
                          example: "251912345678"
                        customerName:
                          type: string
                          example: "Hello Market"
                        customerMobile:
                          type: string
                          example: "251987654332"
                        amount:
                          type: number
                          example: 933.68
                        transactionDate:
                          type: string
                          example: "2025-02-13 08:11:26"
                        transactionStatus:
                          type: string
                          example: "PROCESSED/FAILED"
                        dueDate:
                          type: string
                          example: "2027-02-13 08:10:50"
                        overdue:
                          type: boolean
                          example: true
                        repayed:
                          type: string
                          example: "0"
                        repayment:
                          type: array
                          items: {}
                          example: []
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /dube/international/getrepaymenthistorylist.php:
    get:
      tags: [Payments]
      summary: Get Repayment History
      description: Retrieves repayment history with filtering
      operationId: getRepaymentHistory
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/PaginationLimit"
        - name: Page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            example: 1
        - $ref: "#/components/parameters/MobileNumber"
        - $ref: "#/components/parameters/CountryCode"
      responses:
        "200":
          description: Repayment history retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  totalCount:
                    type: string
                    example: "2792"
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        transactionList:
                          type: string
                          example: "DW12345678AbC1234"
                        transactionID:
                          type: string
                          example: "DWCRAbCdRA00000"
                        paidFrom:
                          type: string
                          example: "9733770001"
                        payerName:
                          type: string
                          example: "Hello Shop"
                        payerMobile:
                          type: string
                          example: "251900000000"
                        payerUserId:
                          type: string
                          example: "123456"
                        repaidAmount:
                          type: string
                          example: "0.00"
                        repaymentStatus:
                          type: string
                          example: "PROCESSED"
                        repaymentDate:
                          type: string
                          example: "2024-11-15 14:46:27"
                        invoice:
                          type: array
                          items:
                            type: object
                            properties:
                              transactionId:
                                type: string
                                example: "DWCRAbCdRA00000"
                              wallettype:
                                type: string
                                example: "MERCHANT_CREDIT"
                              amount:
                                type: number
                                example: 10
                              transactionDate:
                                type: string
                                example: "2024-11-15 14:46:27"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  # ========================
  # 💰 WALLETS & TRANSACTIONS
  # ========================
  /dube/gettopuphistory.php:
    get:
      tags: [Wallets]
      summary: Get Top-Up History
      description: Retrieves wallet top-up transaction history
      operationId: getTopUpHistory
      security:
        - bearerAuth: []
      parameters:
        - name: wallet
          in: query
          description: Wallet identifier filter
          required: false
          schema:
            type: string
            example: "1234567890"
        - $ref: "#/components/parameters/DateRangeStart"
        - $ref: "#/components/parameters/DateRangeEnd"
        - $ref: "#/components/parameters/PaginationLimit"
        - name: offset
          in: query
          description: Pagination offset
          required: false
          schema:
            type: integer
            example: 0
      responses:
        "200":
          description: Top-up history retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: "nana Market"
                        mobile:
                          type: string
                          example: "251900000000"
                        walletType:
                          type: string
                          example: "MERCHANT_AVAILABL"
                        userId:
                          type: string
                          example: "123456"
                        transactionID:
                          type: string
                          example: "DWT1020304050600000"
                        financialInstitution:
                          type: string
                          example: "Bank of Abyssinia"
                        amount:
                          type: string
                          example: "10.00"
                        invoiceID:
                          type: string
                          example: "1739874588-2162574953"
                        InvoiceReference:
                          type: string
                          example: "202502181329491891797258803220481"
                        tracenumber:
                          type: string
                          example: "https://app.ethiomobilemoney.et:2121/ammwebpay/#/?transactionNo=202502123456789091797258803220481"
                        transactionStatus:
                          type: string
                          example: "PROCESSED"
                        transactionDate:
                          type: string
                          example: "2024-11-15 14:46:27"
                        transactionData:
                          type: object
                          properties:
                            from:
                              type: string
                              example: "+251912345678"
                            fromname:
                              type: string
                              example: "Hello Marketplace"
                            fromaccount:
                              type: string
                              example: "000012334421"
                            to:
                              type: string
                              example: "0109091"
                            toname:
                              type: string
                              example: "AMASIS B"
                            toaccount:
                              type: string
                              example: "3109191"
                            amount:
                              type: number
                              example: 5
                            fee:
                              type: number
                              example: 0.99
                            currency:
                              type: string
                              example: "ETB"
                            description:
                              type: string
                              example: "HelloDube Wallet Refill 5190614578"
                            statusdetail:
                              type: string
                              example: "REGULAR_TRANSFER"
                            statuscomment:
                              type: string
                              example: null
                            url:
                              type: string
                              example: "https://bill.mamapays.com/U2diMlZjN2ItYTZGWS1odzFmLWVPV2otYll0Um90Y1FLZGc4/pay"
                            tracenumber:
                              type: string
                              example: "1739874588-2162574953"
                            invoiceid:
                              type: string
                              example: "5KE23BJDN1F9IMG107J6EOFYWQ7XLEOL"
                            id:
                              type: string
                              example: "LIO000044776089ETH"
                            date:
                              type: string
                              example: "2025-02-11T11:32:56Z"
                            processdate:
                              type: string
                              example: "2025-02-11T11:32:56Z"
                            status:
                              type: string
                              example: "PROCESSED"
                            system:
                              type: string
                              example: "Bank of Abyssinia"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  # ========================
  # 🏗️ PROJECTS & SUPPLIERS
  # ========================
  /dube/international/getprojectlist.php:
    get:
      tags: [Projects]
      summary: Get Project List
      description: Retrieves list of all projects
      operationId: getProjectList
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/PaginationLimit"
        - name: Page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            example: 1
        - $ref: "#/components/parameters/CountryCode"
      responses:
        "200":
          description: Project list retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  totalCount:
                    type: string
                    example: "2792"
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        projectName:
                          type: string
                          example: "Standard_ET"
                        countryCode:
                          type: string
                          example: "ET"
                        countryName:
                          type: string
                          example: "Ethiopia"
                        creditDisbursementWallet:
                          type: string
                          example: "1234567890"
                        earningWallet:
                          type: string
                          example: "0987654321"
                        settlementBank:
                          type: string
                          example: ""
                        settlementAccount:
                          type: string
                          example: ""
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /dube/international/getsupplierlist.php:
    get:
      tags: [Suppliers]
      summary: Get Supplier List
      description: Retrieves paginated list of suppliers
      operationId: getSupplierList
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/PaginationLimit"
        - $ref: "#/components/parameters/MobileNumber"
        - $ref: "#/components/parameters/CountryCode"
        - name: offset
          in: query
          description: Pagination offset
          required: false
          schema:
            type: integer
            example: 0
      responses:
        "200":
          description: Supplier list retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  totalCount:
                    type: string
                    example: "2792"
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: "hello shop"
                        wallet:
                          type: string
                          example: "2244972362"
                        walletBalance:
                          type: string
                          example: "0.00"
                        pendingWalletBalance:
                          type: string
                          example: "0.00"
                        mobile:
                          type: string
                          example: "251991152362"
                        userId:
                          type: string
                          example: "123456"
                        status:
                          type: string
                          example: "1"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  # ========================
  # 📄 RECEIPTS & DOCUMENTS
  # ========================
  /dube/international/getreceiptlist.php:
    get:
      tags: [Invoices]
      summary: Get Receipt List
      description: Retrieves list of all receipts
      operationId: getReceiptList
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/PaginationLimit"
        - $ref: "#/components/parameters/CountryCode"
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            example: 1
      responses:
        "200":
          description: Receipt list retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  totalCount:
                    type: string
                    example: "2792"
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "7Gq5Xaje-XGMQ-CjaX-ZoDI-cmQnUR4My4bs"
                        idList:
                          type: string
                          example: "rL4Li0MV-RRl0-plEV-q7kB-NOXzKLcgz39j"
                        receiptFilename:
                          type: string
                          example: "https://helloomarket.com/api/dube/international/receipts/7_1738584765-1000028726.jpg"
                        uploadedOn:
                          type: string
                          example: "2025-02-03 12:12:45"
                        order:
                          type: array
                          items:
                            type: object
                            properties:
                              earningWallet:
                                type: string
                                example: "7354340745"
                              productId:
                                type: string
                                example: "003610003"
                              price:
                                type: string
                                example: "2.00"
                              quantity:
                                type: string
                                example: "2"
                              supplier_name:
                                type: string
                                example: "Yegha Plc"
                              supplier_id:
                                type: string
                                example: "si0993442"
                              order_date:
                                type: string
                                example: "2024-12-30"
                              hellooMarketOrderId:
                                type: string
                                example: "20232"
                        status:
                          type: string
                          example: "RECEIVED"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  # ========================
  # 👥 CUSTOMERS
  # ========================
  /dube/getallcustomers.php:
    get:
      tags: [Customers]
      summary: Get All Customers
      description: Retrieves comprehensive customer list
      operationId: getAllCustomers
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/PaginationLimit"
        - name: Page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            example: 1
        - $ref: "#/components/parameters/MobileNumber"
        - $ref: "#/components/parameters/CountryCode"
      responses:
        "200":
          description: Customer list retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  totalCount:
                    type: string
                    example: "2792"
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        userid:
                          type: string
                          example: "123456"
                        fullname:
                          type: string
                          example: "hello shop"
                        mobile:
                          type: string
                          example: "255710101010"
                        creditwallet:
                          type: string
                          example: "8376940003"
                        creditbalance:
                          type: string
                          example: "0.00"
                        purchasewallet:
                          type: string
                          example: "1234567890"
                        purchasebalance:
                          type: string
                          example: "0.00"
                        createdon:
                          type: string
                          example: "2024-11-12 07:08:55"
                        active:
                          type: string
                          example: "1"
                        gifts:
                          type: array
                          items:
                            type: object
                            properties:
                              giftWallet:
                                type: string
                                example: "4669016915"
                              giftedBy:
                                type: string
                                example: "003610003"
                              giftBalance:
                                type: string
                                example: "2.00"
                              lable:
                                type: string
                                example: "Hello Shop Gift"
                              theme:
                                type: string
                                example: "Hello Shop"
                              sponsorName:
                                type: string
                                example: "Yegha Plc"
                              sponsorPhone:
                                type: string
                                example: "255710101010"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /dube/getopeninvoices.php:
    get:
      tags: [Invoices]
      summary: Get Open Invoices
      description: Retrieves list of all open invoices
      operationId: getOpenInvoices
      security:
        - bearerAuth: []
      parameters:
        - name: wallet
          in: query
          description: Wallet identifier filter
          required: false
          schema:
            type: string
            example: "1234567890"
        - $ref: "#/components/parameters/DateRangeStart"
        - $ref: "#/components/parameters/DateRangeEnd"
        - $ref: "#/components/parameters/PaginationLimit"
        - name: offset
          in: query
          description: Pagination offset
          required: false
          schema:
            type: integer
            example: 0
      responses:
        "200":
          description: Open invoices retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  totalCount:
                    type: string
                    example: "2792"
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        transactionID:
                          type: string
                          example: "DW12345678AbC1234"
                        amount:
                          type: string
                          example: "10"
                        customerCreditWallet:
                          type: string
                          example: "9733770001"
                        customerName:
                          type: string
                          example: "Hello Shop"
                        customerMobile:
                          type: string
                          example: "251900000000"
                        transactionDate:
                          type: string
                          example: "2024-11-15 14:46:27"
                        dueDate:
                          type: string
                          example: "2024-11-15 14:46:27"
                        overdue:
                          type: boolean
                          example: true
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  # ========================
  # 📊 REPORTS & ANALYTICS
  # ========================
  /dube/international/gettotals.php:
    get:
      tags: [Reports]
      summary: Get System Totals
      description: Retrieves comprehensive system statistics
      operationId: getSystemTotals
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DateRangeStart"
        - $ref: "#/components/parameters/DateRangeEnd"
      responses:
        "200":
          description: System totals retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        numberOfActiveMerchants:
                          type: string
                          example: "2082"
                        numberOfActiveCustomers:
                          type: number
                          example: 77056
                        totalNumberOfMerchants:
                          type: string
                          example: "2796"
                        totalNumberOfSuppliers:
                          type: string
                          example: "1559"
                        totalNumberOfCustomers:
                          type: string
                          example: "77059"
                        totalNumberOfMerchantsWithActivePINs:
                          type: string
                          example: "635"
                        totalNumberOfCustomersWithActivePINs:
                          type: string
                          example: "36307"
                        totalNumberOfLoggedInMerchants:
                          type: string
                          example: "537"
                        totalNumberOfLoggedInCustomers:
                          type: string
                          example: "137"
                        totalInvoiceAmount:
                          type: number
                          example: 69255702.57
                        totalNumberOfInvoices:
                          type: string
                          example: "234669"
                        totalCashInAmount:
                          type: string
                          example: "255763017067.2603"
                        totalNumberOfCashIns:
                          type: string
                          example: "363"
                        totalCashoutAmount:
                          type: string
                          example: "36307"
                        totalNumberOfCashouts:
                          type: string
                          example: "7590"
                        totalCreditAmount:
                          type: string
                          example: "4661786"
                        totalNumberOfCredit:
                          type: string
                          example: "914"
                        totalRepayedAmount:
                          type: string
                          example: "296556.1291"
                        totalNumberOfRepayment:
                          type: string
                          example: "895"
                        totalUnpaidInvoicesAmount:
                          type: string
                          example: "174157.80000000005"
                        totalNumberOfUnpaidInvoices:
                          type: string
                          example: "247"
                        totalOverdueInvoicesAmount:
                          type: string
                          example: "172935.15000000002"
                        totalNumberOfOverdueInvoices:
                          type: string
                          example: "241"
                        totalTransfersCount:
                          type: string
                          example: "732"
                        totalNumberOfTransfers:
                          type: string
                          example: "4165736.7399999998"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /dube/getallinvoices.php:
    get:
      tags: [Invoices]
      summary: Get All Invoices (Alternative)
      description: Alternative endpoint for invoice retrieval
      operationId: getAllInvoicesAlt
      security:
        - bearerAuth: []
      parameters:
        - name: wallet
          in: query
          description: Wallet identifier filter
          required: false
          schema:
            type: string
            example: "1234567890"
        - $ref: "#/components/parameters/DateRangeStart"
        - $ref: "#/components/parameters/DateRangeEnd"
        - $ref: "#/components/parameters/PaginationLimit"
        - name: offset
          in: query
          description: Pagination offset
          required: false
          schema:
            type: integer
            example: 0
      responses:
        "200":
          description: Invoices retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  totalCount:
                    type: string
                    example: "270792"
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        transactionId:
                          type: string
                          example: "WFPWP1234567890123"
                        merchantName:
                          type: string
                          example: "Gesese Molla"
                        merchantUserId:
                          type: string
                          example: "123456"
                        merchantMobile:
                          type: string
                          example: "251938905964"
                        customerName:
                          type: string
                          example: "Mulushewa Moges"
                        customerMobile:
                          type: string
                          example: "251913663497"
                        amount:
                          type: number
                          example: 933.68
                        transactionDate:
                          type: string
                          example: "2025-02-13 08:11:26"
                        transactionStatus:
                          type: string
                          example: "FAILED"
                        dueDate:
                          type: string
                          example: "2027-02-13 08:10:50"
                        overdue:
                          type: boolean
                          example: false
                        repayed:
                          type: string
                          example: "0"
                        repayment:
                          type: array
                          items: {}
                          example: []
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /dube/gettotals.php:
    get:
      tags: [Reports]
      summary: Get Basic Totals
      description: Retrieves basic system statistics
      operationId: getBasicTotals
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DateRangeStart"
        - $ref: "#/components/parameters/DateRangeEnd"
      responses:
        "200":
          description: Basic totals retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        numberOfActiveMerchants:
                          type: string
                          example: "2082"
                        numberOfActiveCustomers:
                          type: number
                          example: 77056
                        totalNumberOfMerchants:
                          type: string
                          example: "2796"
                        totalNumberOfCustomers:
                          type: string
                          example: "77059"
                        totalNumberOfMerchantsWithActivePINs:
                          type: string
                          example: "635"
                        totalNumberOfCustomersWithActivePINs:
                          type: string
                          example: "36307"
                        totalNumberOfLoggedInMerchants:
                          type: string
                          example: "537"
                        totalNumberOfLoggedInCustomers:
                          type: string
                          example: "137"
                        totalInvoiceAmount:
                          type: number
                          example: 69255702.57
                        totalNumberOfInvoices:
                          type: string
                          example: "234669"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /dube/international/gettotalsleapfrog.php:
    get:
      tags: [Reports]
      summary: Get Leapfrog Totals
      description: Retrieves Leapfrog program statistics
      operationId: getLeapfrogTotals
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/DateRangeStart"
        - $ref: "#/components/parameters/DateRangeEnd"
      responses:
        "200":
          description: Leapfrog totals retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: object
                    properties:
                      numberOfActiveSalesAgents:
                        type: string
                        example: "82"
                      numberOfActiveRetailers:
                        type: number
                        example: 77056
                      totalInvoiceAmount:
                        type: string
                        example: "2796"
                      totalNumberOfInvoices:
                        type: string
                        example: "77059"
                      totalCreditAmountSalesAgents:
                        type: string
                        example: "635"
                      totalNumberOfCreditSalesAgents:
                        type: string
                        example: "36307"
                      totalCreditAmountRetailers:
                        type: string
                        example: "537"
                      totalNumberOfCreditRetailers:
                        type: string
                        example: "137"
                      totalRepayedAmount:
                        type: number
                        example: 69255702.57
                      totalNumberOfRepayment:
                        type: string
                        example: "234669"
                      totalUnpaidInvoicesAmount:
                        type: string
                        example: "234669"
                      totalNumberOfUnpaidInvoices:
                        type: number
                        example: 234669
                      totalOverdueInvoicesAmount:
                        type: number
                        example: 234669
                      totalNumberOfOverdueInvoices:
                        type: number
                        example: 234669
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /dube/getcashinandouttotals.php:
    get:
      tags: [Reports]
      summary: Get Cash In/Out Totals
      description: Retrieves cash flow statistics
      operationId: getCashInOutTotals
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Cash in/out totals retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        totalCashInAmount:
                          type: string
                          example: "255763017067.2603"
                        totalNumberOfCashIns:
                          type: string
                          example: "363"
                        totalCashoutAmount:
                          type: string
                          example: "36307"
                        totalNumberOfCashouts:
                          type: string
                          example: "7590"
                        totalCreditAmount:
                          type: string
                          example: "4661786"
                        totalNumberOfCredit:
                          type: string
                          example: "914"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /dube/getinvoicesandrepayments.php:
    get:
      tags: [Reports]
      summary: Get Invoices and Repayments
      description: Retrieves invoice and repayment statistics
      operationId: getInvoicesAndRepayments
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Invoice and repayment data retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        totalRepayedAmount:
                          type: string
                          example: "296556.1291"
                        totalRepayedNumber:
                          type: string
                          example: "895"
                        totalToBePaidAmount:
                          type: string
                          example: "174157.80000000005"
                        totalToBePaidNumber:
                          type: string
                          example: "247"
                        totalOverdueAmount:
                          type: string
                          example: "172935.15000000002"
                        totalOverdueNumber:
                          type: string
                          example: "241"
                        totalInvoiceAmount:
                          type: string
                          example: "732"
                        totalInvoiceNumber:
                          type: string
                          example: "4165736.7399999998"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /dube/getrepaymenthistorylist.php:
    get:
      tags: [Payments]
      summary: Get Repayment History (Alternative)
      description: Alternative endpoint for repayment history
      operationId: getRepaymentHistoryAlt
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/PaginationLimit"
        - name: Page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            example: 1
        - $ref: "#/components/parameters/MobileNumber"
        - $ref: "#/components/parameters/CountryCode"
      responses:
        "200":
          description: Repayment history retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  totalCount:
                    type: string
                    example: "2792"
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        transactionList:
                          type: string
                          example: "DW74818394Laa0003"
                        transactionID:
                          type: string
                          example: "DWCRmVj4F6NR50003"
                        paidFrom:
                          type: string
                          example: "9733770001"
                        payerName:
                          type: string
                          example: "Eliana Tewodros"
                        payerMobile:
                          type: string
                          example: "233900000003"
                        repaidAmount:
                          type: string
                          example: "0.00"
                        repaymentStatus:
                          type: string
                          example: "PROCESSED"
                        repaymentDate:
                          type: string
                          example: "2024-11-15 14:46:27"
                        wallets:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                example: "1190073738"
                              wallettype:
                                type: string
                                example: "MERCHANT_CREDIT"
                              balance:
                                type: string
                                example: "2000000"
                              bnpl:
                                type: string
                                example: "2000000"
                        foodCategory:
                          type: string
                          example: "desert"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  # ========================
  # 📝 REGISTRATION ENDPOINTS
  # ========================
  /dube/international/registerproject.php:
    post:
      tags: [Projects]
      summary: Register New Project
      description: Register a new project in the system
      operationId: registerProject
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - projectName
                - countryCode
                - mobile
                - settlementAccount
                - settlementBank
              properties:
                projectName:
                  type: string
                  example: "Paladium Project"
                countryCode:
                  type: string
                  example: "ET"
                mobile:
                  type: string
                  example: "251911541613"
                settlementAccount:
                  type: string
                  example: "3109191"
                settlementBank:
                  type: string
                  example: "KCB"
      responses:
        "201":
          description: Project registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Category created successfully."
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /dube/international/registersupplier.php:
    post:
      tags: [Suppliers]
      summary: Register New Supplier
      description: Register a new supplier in the system
      operationId: registerSupplier
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - projectName
                - countryCode
                - mobile
                - settlementAccount
                - settlementBank
              properties:
                fullname:
                  type: string
                  example: "Temesgen Beyene"
                project:
                  type: string
                  example: "Project X"
                mobile:
                  type: string
                  example: "251911541613"
                dialCode:
                  type: string
                  example: "251"
      responses:
        "201":
          description: Supplier registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Category created successfully."
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /dube/international/registersupplierproduct.php:
    post:
      tags: [Suppliers]
      summary: Register Supplier Product
      description: Register a new product for a supplier
      operationId: registerSupplierProduct
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - supplierName
                - supplierId
                - supplierPhone
                - productReference
                - productName
                - price
                - requireReceipt
                - wallet
                - encodedFile
                - filename
              properties:
                supplierName:
                  type: string
                  example: "Temesgen Beyene"
                supplierId:
                  type: string
                  example: "Project X"
                supplierPhone:
                  type: string
                  example: "251911541613"
                productReference:
                  type: string
                  example: "251"
                productName:
                  type: string
                  example: "Product X"
                price:
                  type: string
                  example: "100"
                requireReceipt:
                  type: string
                  example: "1"
                wallet:
                  type: string
                  example: "MERCHANT_CREDIT"
                encodedFile:
                  type: string
                  example: "image/jpeg"
                filename:
                  type: string
                  example: "1024"
                taxPercentage:
                  type: string
                  example: "10"
                incrementPercent:
                  type: string
                  example: "1"
      responses:
        "201":
          description: Supplier product registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Category created successfully."
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /dube/international/changephonenumber.php:
    post:
      tags: [Customers]
      summary: Change Phone Number
      description: Update user phone number
      operationId: changePhoneNumber
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - toMobile
                - dialCode
              properties:
                userId:
                  type: string
                  example: "123456"
                toMobile:
                  type: string
                  example: "255710101010"
                dialCode:
                  type: string
                  example: "255"
      responses:
        "200":
          description: Phone number updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "PhoneNumber updated successfully."
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /dube/changename.php:
    post:
      tags: [Customers]
      summary: Change User Name
      description: Update user full name
      operationId: changeUserName
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - fullName
              properties:
                userId:
                  type: string
                  example: "123456"
                fullName:
                  type: string
                  example: "John Doe"
      responses:
        "200":
          description: User name updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Full Name updated successfully."
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /dube/getcustomercredithistory.php:
    post:
      tags: [Customers]
      summary: Get Customer Credit History
      description: Retrieve customer credit transaction history
      operationId: getCustomerCreditHistory
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - wallet
                - start
                - end
                - limit
                - offset
              properties:
                wallet:
                  type: string
                  example: "1234567890"
                start:
                  type: string
                  example: "2024-01-01"
                end:
                  type: string
                  example: "2024-12-31"
                limit:
                  type: integer
                  example: 10
                offset:
                  type: integer
                  example: 0
      responses:
        "200":
          description: Credit history retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  totalCount:
                    type: string
                    example: "2792"
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        transactionId:
                          type: string
                          example: "DW12345678AbC1234"
                        senderName:
                          type: string
                          example: "HelloDube"
                        senderMobile:
                          type: string
                          example: "251900000000"
                        creditAmount:
                          type: string
                          example: "9733"
                        transactionStatus:
                          type: string
                          example: "PROCESSED"
                        transactionDate:
                          type: string
                          example: "2024-11-15 14:46:27"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /dube/getpaymenthistory.php:
    post:
      tags: [Payments]
      summary: Get Payment History
      description: Retrieve payment transaction history
      operationId: getPaymentHistory
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - wallet
                - start
                - end
                - limit
                - offset
              properties:
                wallet:
                  type: string
                  example: "1234567890"
                start:
                  type: string
                  example: "2024-01-01"
                end:
                  type: string
                  example: "2024-12-31"
                limit:
                  type: integer
                  example: 10
                offset:
                  type: integer
                  example: 0
      responses:
        "200":
          description: Payment history retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  totalCount:
                    type: string
                    example: "2792"
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        transactionId:
                          type: string
                          example: "DW12345678AbC1234"
                        payerName:
                          type: string
                          example: "HelloDube"
                        payerMobile:
                          type: string
                          example: "251900000000"
                        paidAmount:
                          type: string
                          example: "200000"
                        receivedAmount:
                          type: string
                          example: "19000"
                        transactionStatus:
                          type: string
                          example: "PROCESSED"
                        transactionDate:
                          type: string
                          example: "2024-11-15 14:46:27"
                        remark:
                          type: string
                          example: "invoice"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /dube/international/updatereceiptstatus.php:
    post:
      tags: [Invoices]
      summary: Update Receipt Status
      description: Update receipt verification status
      operationId: updateReceiptStatus
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - status
              properties:
                id:
                  type: string
                  example: "7Gq5Xaje-XGMQ-CjaX-ZoDI-cmQnUR4My4bs"
                status:
                  type: string
                  enum: ["1", "0"]
                  example: "1"
      responses:
        "200":
          description: Receipt status updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Receipt Updated successfully."
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /dube/getcashouthistory.php:
    post:
      tags: [Wallets]
      summary: Get Cashout History
      description: Retrieve specific cashout transaction details
      operationId: getCashoutHistory
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - wallet
                - id
              properties:
                wallet:
                  type: string
                  example: "1234567890"
                id:
                  type: string
                  example: "DW12345678AbC1234"
      responses:
        "200":
          description: Cashout history retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: object
                    properties:
                      wallet:
                        type: string
                        example: "2299401133"
                      name:
                        type: string
                        example: "hello shop"
                      mobile:
                        type: string
                        example: "251900000000"
                      bank:
                        type: string
                        example: "Bank of Abyssinia"
                      accountNumber:
                        type: string
                        example: "1234567890"
                      amount:
                        type: string
                        example: "10.00"
                      status:
                        type: string
                        example: "PROCESSED"
                      requestDate:
                        type: string
                        example: "2024-11-15 14:46:27"
                      transactionDate:
                        type: object
                        properties:
                          error:
                            type: boolean
                            example: false
                          message:
                            type: string
                            example: "Successfully Transfered."
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /dube/getcustomerlistofmerchant.php:
    post:
      tags: [Merchants]
      summary: Get Merchant's Customers
      description: Retrieve customer list for a specific merchant
      operationId: getMerchantCustomers
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mobile
              properties:
                mobile:
                  type: string
                  example: "251900000000"
      responses:
        "200":
          description: Merchant customers retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: object
                    properties:
                      userId:
                        type: string
                        example: "123456"
                      walletType:
                        type: string
                        example: "CUSTOMER_CREDIT"
                      fullname:
                        type: string
                        example: "hello shop"
                      mobile:
                        type: string
                        example: "251900000000"
                      wallet:
                        type: string
                        example: "2299401133"
                      balance:
                        type: string
                        example: "10.00"
                      initialDeposit:
                        type: string
                        example: "10.00"
                      createdOn:
                        type: string
                        example: "2024-11-15 14:46:27"
                      bnplBalance:
                        type: string
                        example: "0.00"
                      creditPayment:
                        type: array
                        example: []
                      creditRepayment:
                        type: array
                        example: []
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /dube/international/customerselfregistration.php:
    post:
      tags: [Customers]
      summary: Customer Self Registration
      description: Allow customers to register themselves
      operationId: customerSelfRegistration
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mobile
                - fullName
                - dialCode
              properties:
                fullName:
                  type: string
                  example: "Zemedkun Alemu"
                mobile:
                  type: string
                  example: "+25191234567"
                dialCode:
                  type: string
                  example: "ET"
      responses:
        "201":
          description: Customer registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "User Register Successfully."
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  # ========================
  # 🌍 WFP OPERATIONS
  # ========================
  /wfp/generatedummyvouchers.php:
    get:
      tags: [WFP Operations]
      summary: Generate Dummy Vouchers
      description: Generate test vouchers for development
      operationId: generateDummyVouchers
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Dummy vouchers generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        userId:
                          type: string
                          example: "123456"
                        balance:
                          type: number
                          example: 895
                        createdOn:
                          type: string
                          example: "2025-02-14 06:14:56"
                        creditWallet:
                          type: string
                          example: "9289473512"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /wfp/getcategories.php:
    get:
      tags: [WFP Operations]
      summary: Get Food Categories
      description: Retrieve WFP food categories and subcategories
      operationId: getFoodCategories
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Food categories retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        Category:
                          type: string
                          example: "PLW"
                        SubCategory:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: "11b5cf1c-eda5-0a68-7cd0-675c1b485a8f"
                              name:
                                type: string
                                example: "Oil"
                              allocatedAmount:
                                type: string
                                example: "78.75"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /wfp/getbeneficiarylist.php:
    get:
      tags: [WFP Operations]
      summary: Get Beneficiary List
      description: Retrieve list of WFP beneficiaries
      operationId: getBeneficiaryList
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Beneficiary list retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  totalCount:
                    type: string
                    example: "10320"
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        mainWallet:
                          type: string
                          example: "1198916900"
                        beneficiaryName:
                          type: string
                          example: "Solomon waleligh"
                        mobile:
                          type: string
                          example: "251961201230"
                        mainWalletBalance:
                          type: string
                          example: "600.00"
                        subWallets:
                          type: array
                          items:
                            type: object
                            properties:
                              walletName:
                                type: string
                                example: "Oil"
                              walletBalance:
                                type: string
                                example: "100.00"
                              cycle:
                                type: string
                                example: "Test Cycle-2"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /wfp/getvoucherslist.php:
    get:
      tags: [WFP Operations]
      summary: Get Vouchers List
      description: Retrieve list of all vouchers
      operationId: getVouchersList
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Vouchers list retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  totalCount:
                    type: string
                    example: "10320"
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        householdId:
                          type: string
                          example: "ETNUT000000"
                        name:
                          type: string
                          example: "Solomon waleligh"
                        mobile:
                          type: string
                          example: "251961201230"
                        wallet:
                          type: string
                          example: "600.00"
                        woreda:
                          type: array
                        kebele:
                          type: object
                          example: null
                        balance:
                          type: string
                          example: "600.00"
                        updatedOn:
                          type: string
                          example: "2025-02-14 06:23:47"
                        createdOn:
                          type: string
                          example: "2025-02-14 06:23:47"
                        linked:
                          type: boolean
                          example: false
                        active:
                          type: string
                          example: "1"
                        cycle:
                          type: string
                          example: "Test Cycle-2"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /wfp/getallcycles.php:
    get:
      tags: [WFP Operations]
      summary: Get All Cycles
      description: Retrieve all program cycles
      operationId: getAllCycles
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Cycles retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  totalCount:
                    type: string
                    example: "32"
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "RUdxSUC9-PhW5-3MDW-5uuI-mOTiaYyjAQN0"
                        cycle:
                          type: string
                          example: "Cycle-13 SSC"
                        active:
                          type: string
                          example: "1"
                        startDate:
                          type: string
                          example: "2025-02-14"
                        endDate:
                          type: string
                          example: "2025-02-14"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /wfp/getallinvoices.php:
    get:
      tags: [WFP Operations]
      summary: Get WFP Invoices
      description: Retrieve WFP-specific invoices
      operationId: getWfpInvoices
      security:
        - bearerAuth: []
      responses:
        "200":
          description: WFP invoices retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  totalCount:
                    type: string
                    example: "270792"
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        transactionId:
                          type: string
                          example: "WFPWP8923034201839"
                        merchantUserId:
                          type: string
                          example: "123456"
                        merchantName:
                          type: string
                          example: "Gesese Molla"
                        merchantMobile:
                          type: string
                          example: "251938905964"
                        householdId:
                          type: string
                          example: "ETNUT000000"
                        customerName:
                          type: string
                          example: "Mulushewa Moges"
                        customerMobile:
                          type: string
                          example: "251913663497"
                        amount:
                          type: number
                          example: 933.68
                        transactionDate:
                          type: string
                          example: "2025-02-13 08:11:26"
                        transactionStatus:
                          type: string
                          example: "FAILED"
                        remark:
                          type: array
                          items:
                            type: object
                            properties:
                              categoryName:
                                type: string
                                example: "Oil"
                              order:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    itemName:
                                      type: string
                                      example: "Oil"
                                    unitPrice:
                                      type: string
                                      example: "100.00"
                                    quantity:
                                      type: string
                                      example: "2"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /wfp/gettotalinvoices.php:
    get:
      tags: [WFP Operations]
      summary: Get Total Invoices
      description: Retrieve WFP invoice totals
      operationId: getTotalInvoices
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Invoice totals retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        totalAmount:
                          type: string
                          example: "200,291,934.04"
                        totalNumber:
                          type: string
                          example: "143700"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /wfp/gettotalcredit.php:
    get:
      tags: [WFP Operations]
      summary: Get Total Credit
      description: Retrieve WFP credit totals
      operationId: getTotalCredit
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Credit totals retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        totalAmount:
                          type: string
                          example: "200,291,934.04"
                        totalNumber:
                          type: string
                          example: "143700"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
          $ref: "#/components/responses/Unauthorized401"
        "500":
          $ref: "#/components/responses/InternalServerError500"

  /wfp/getcashouttotals.php:
    get:
      tags: [WFP Operations]
      summary: Get Cashout Totals
      description: Retrieve WFP cashout statistics
      operationId: getCashoutTotals
      security:
        - bearerAuth: []
      parameters:
        - name: voucher
          in: query
          description: Voucher code filter
          required: false
          schema:
            type: string
        - name: offset
          in: query
          description: Pagination offset
          required: false
          schema:
            type: integer
            example: 0
        - $ref: "#/components/parameters/DateRangeStart"
        - $ref: "#/components/parameters/DateRangeEnd"
        - $ref: "#/components/parameters/PaginationLimit"
      responses:
        "200":
          description: Cashout totals retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    example: false
                  message:
                    type: array
                    items:
                      type: object
                      properties:
                        totalCashoutAmount:
                          type: string
                          example: "200,291,934.04"
                        totalCashoutNumber:
                          type: string
                          example: "143700"
                        totalCashoutFeeAmount:
                          type: string
                          example: "92010.93919999992"
                        totalCashoutFeeNumber:
                          type: string
                          example: "143700"
        "400":
          $ref: "#/components/responses/BadRequest400"
        "401":
[...]
